@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

@layer base {
  body {
    @apply bg-neutral-100 text-black transition-colors duration-200 flex flex-col mx-4 sm:mx-8 md:mx-16 xl:mx-32;
  }

  html * {
    @apply transition-colors duration-200;
    transition-timing-function: cubic-bezier(0, 0, 0, 1);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-xl sm:text-2xl md:text-3xl;
  }

  h2 {
    @apply text-lg sm:text-xl md:text-2xl;
  }
  h3 {
    @apply text-base sm:text-lg md:text-xl;
  }

  li {
    @apply cursor-pointer text-xs sm:text-sm md:text-base;
  }

  p {
    @apply text-xs md:text-base;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b5b5b5 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #b5b5b5;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}